.field
  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.select_atributo_filtro
      = f.attribute_fields do |a|
        = a.attribute_select
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.select_predicado_filtro
      = f.predicate_select only: %i(cont not_cont start not_start eq not_eq), compounds: false, style: "width: 30%"
    .col-xs-12.col-sm-4.col-md-3.col-lg-3.input_filtro
      = f.value_fields do |v|
        = v.text_field :value, class: "form-control"
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      = link_to "Remover condição", '#', class: "remove_ransack_fields"
