
%ul{class: "nav nav-tabs"}
  %li{class:"active"}
    %a{'data-toggle':"tab", href:"#dados"}
      Documento
  %li
    %a{'data-toggle':"tab", href:"#convenio"}
      Convênio
  %li
    %a{'data-toggle':"tab", href:"#endereco"}
      Pessoais
  %li
    %a{'data-toggle':"tab", href:"#historico"}
      Histórico
  %li
    %a{'data-toggle':"tab", href:"#texto_livre"}
      Texto Livre

= simple_form_for(@cliente) do |f|
  %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
    %div{class:"tab-content"}
      / aba dos dados principais
      %div{id:"dados", class:"tab-pane fade in active"}
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-6 col-lg-6", style: 'margin: 0; padding: 0;'}
            %div{style: "font-weight: bold;"}
              =f.error_notification
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :status, :as => :select,
                    :collection => [['Ativo',true],['Inativo',false]],
                    :include_blank => false,
                    :label => t('labels.status')
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :nome
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :nascimento, as: :date, start_year: Date.today.year - 116,
                              end_year: Date.today.year, discard_day: false,
                              order: [:day, :month, :year]
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            %label{class: "string required control-label"}
              Idade
            %br
            %span{id: "tempo_de_vida"}
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :sexo, :as => :select,
                    :collection => [['Masculino','m'],['Feminino','f']],
                    :include_blank => false,
                    :label => t('labels.sexo')
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :estado_civil, :as => :select,
                    :collection => [['Casado','casado'],['Solteiro','solteiro'],['Divorciado','divorciado']],
                    :include_blank => false,
                    :label => t('labels.estado civil')
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :cpf,  input_html: {class: "cpf_maskara" }
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :rg,  input_html: {class: "rg_maskara" }

      / aba de endereço
      %div{id:"convenio", class:"tab-pane fade"}
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :status_convenio, :as => :select,
                :collection => [['Ativo',true],['Inativo',false]],
                :include_blank => false,
                :label => t('labels.status convênio')
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :matricula
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            =f.label "Convênio"
            =f.collection_select(:convenio_id, Convenio.order(:nome), :id, :nome, {include_blank: "Selecione"}, {:class=>'form-control'})
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-12 col-lg-12"}
            = f.input :validade_carteira, as: :date, start_year: Date.today.year - 116, end_year: Date.today.year, discard_day: false,  order: [:day, :month, :year]
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :produto
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :titular
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :plano

      / aba de endereço
      %div{id:"endereco", class:"tab-pane fade"}
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :foto, as: :file, label: "Foto"
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :email
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :telefone
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :endereco
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :complemento
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :bairro
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            =f.label "Estado"
            =f.collection_select(:estado_id, @estados, :id, :nome, {include_blank: "Selecione"}, {:class=>'form-control'})
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            =f.label "Cidade"
            = f.grouped_collection_select(:cidade_id, @estados, :cidades, :nome, :id, :nome, {include_blank: "Selecione"}, { :class=> "collection_select" })
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            =f.label "Profissão"
            =f.collection_select(:cargo_id, Cargo.order(:nome), :id, :nome, {include_blank: false}, {:class=>'form-control'})

      / aba de historico
      %div{id:"historico", class:"tab-pane fade"}

      / aba de texto livre
      %div{id:"texto_livre", class:"tab-pane fade"}