=build_form_toolbar(new_empresa_cliente_path(current_user.empresa),nil, @clientes, empresa_clientes_path(current_user.empresa), nil)
%div{class: "container"}
  %div{class: "row"}
    %h1 Clientes
    %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row", style: "margin: 0;"}
      %div{class: "jumbotron"}
        %div{class: "row", style: "margin: 0;"}
          %div{class: "col-md-12 col-sm-12 col-xs-12 col-lg-12"}
            = search_form_for @search, url: empresa_clientes_path(current_user.empresa) do |f|
              = f.condition_fields do |c|
                = render "condition_fields", f: c
              = link_to_add_fields "Adicionar Condições", f, :condition
              %div{class: "actions", style: "margin-top: 2%;"}
                = f.submit "Pesquisar", class: "btn btn-primary"
      %br
      %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
        %thead
          %th= t('clientes.helpers.status')
          %th= t('clientes.helpers.codigo')
          %th= t('clientes.helpers.nome')
          %th= t('clientes.helpers.cpf')
          %th= t('clientes.helpers.endereço')
          %th= t('clientes.helpers.complemento')
          %th= t('clientes.helpers.bairro')
          %th
            %center
              = t('bootstrap.helpers.actions')
        %tbody
          - @clientes.each do |cliente|
            %tr
              %td= status(cliente.status)
              %td= cliente.id
              %td= cliente.nome
              %td= cliente.cpf
              %td= cliente.endereco
              %td= cliente.complemento
              %td= cliente.bairro
              %td
                .btn-group.pull-right
                  -if can? :read, Cliente
                    = link_to "#{image_tag("icons/glyphicons-610-journal.png", width: 22, height: 22)}".html_safe,
                      empresa_cliente_path(current_user.empresa, cliente), title: t(:show, scope: [:bootstrap, :helpers, :links]), class: 'btn btn-default'
      %div{class: "pull-right"}
        = paginate @clientes
  %div{class: "row"}
    %hr{style: "border: #323232 solid 0.5px;"}
