=build_object_viewer_toolbar(edit_cliente_path(@cliente), @cliente, clientes_path, nil)
%section{id: "show_cliente"}
  %div{class: "container-fluid"}
    %div{class: "row-fluid"}
      %h1 Cliente
      %hr{style: "border: #323232 solid 0.5px;"}
      %div{class: "col-xs-8 col-sm-8 col-md-8 col-lg-8"}
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.codigo')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.id
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.status')
          .col-xs-8.col-sm-4.col-md-4.col-lg-4
            = @cliente.status
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.nome')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.nome
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.cpf')
          .col-xs-8.col-sm-4.col-md-4.col-lg-4
            = @cliente.cpf
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.endereco')
          .col-xs-8.col-sm-4.col-md-4.col-lg-4
            = @cliente.endereco
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.complemento')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.complemento
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.bairro')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.bairro
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.estado')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            =  @cliente.estado.nome.titleize if @cliente.try(:estado_id)
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.cidade')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.cidade.nome.titleize if @cliente.try(:cidade_id)
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.nascimento')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.nascimento.strftime("%d/%m/%Y") unless @cliente.nascimento.nil?
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.sexo')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = sexo_formatado(@cliente.sexo)
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.rg')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.rg
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.estado_civil')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.estado_civil.titleize
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.email')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.email
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.telefone')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.telefone
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.cargo')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.cargo.nome if @cliente.try(:cargo_id)
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.status_convenio')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.status_convenio
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.convenio')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.convenio.nome if @cliente.try(:convenio_id)
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.matricula')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.matricula
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.plano')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.plano
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.validade_carteira')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.validade_carteira.strftime("%d/%m/%Y") unless @cliente.validade_carteira.nil?
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.produto')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.produto
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('clientes.helpers.titular')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @cliente.titular
      %div{class: "col-xs-4 col-sm-4 col-md-4 col-lg-4"}
        -if @cliente.foto.present?
          = image_tag @cliente.foto.url(:medium), :class => "img_profissional"
    %div{class: "row-fluid"}
      %hr{style: "border: #323232 solid 0.5px;"}