=build_object_viewer_toolbar(edit_empresa_cliente_path(current_user.empresa,@cliente), @cliente, empresa_clientes_path(current_user.empresa), nil)
%section#cliente
  .container
    .row
      %h1 Cliente
      %hr{style: "border: #323232 solid 0.5px;"}
      .col-xs-8.col-sm-8.col-md-8.col-lg-8
        .row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.status')
            %br
            = status @cliente.status
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.codigo')
            %br
            = @cliente.id
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.nome')
            %br
            = @cliente.nome
        %br
        .row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.nascimento')
            %br
            = @cliente.nascimento.strftime("%d/%m/%Y") unless @cliente.nascimento.nil?
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.sexo')
            %br
            = sexo_formatado(@cliente.sexo)
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.estado_civil')
            %br
            = @cliente.estado_civil.titleize
        %br
        .row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.cpf')
            %br
            = @cliente.cpf
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.rg')
            %br
            = @cliente.rg
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.telefone')
            %br
            = @cliente.telefone
        %br
        .row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.email')
            %br
            - if !@cliente.email.present?
              Não mencionado
            -else
              = @cliente.email
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.estado')
            %br
            =  @cliente.estado.nome.titleize if @cliente.try(:estado_id)
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.cidade')
            %br
            = @cliente.cidade.nome.titleize if @cliente.try(:cidade_id)
        %br
        .row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.bairro')
            %br
            = @cliente.bairro
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.endereco')
            %br
            = @cliente.endereco
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.complemento')
            %br
            -if !@cliente.complemento.present?
              Não mencionado
            -else
              = @cliente.complemento
        %br
        .row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.cargo')
            %br
            = @cliente.cargo.nome if @cliente.try(:cargo_id)
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.status_convenio')
            %br
            = status @cliente.status_convenio
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.convenio')
            %br
            -if @cliente.try(:convenio_id)
              = @cliente.convenio.nome
            -else
              Não mencionado
        %br
        .row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.matricula')
            %br
            = @cliente.matricula
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.plano')
            %br
            = @cliente.plano
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.validade_carteira')
            %br
            = @cliente.validade_carteira.strftime("%d/%m/%Y") unless @cliente.validade_carteira.nil?
        %br
        .row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.produto')
            %br
            = @cliente.produto
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = label_tag t('clientes.helpers.titular')
            %br
            = @cliente.titular
      .col-xs-4.col-sm-4.col-md-4.col-lg-4
        -if @cliente.foto.present?
          = image_tag @cliente.foto.url(:medium), :class => "img_profissional pull-right"
    .row
      %hr{style: "border: #323232 solid 0.5px;"}