=build_toolbar
.container
  .row
    .col-md-3
      =render "/pages/fast_access"
    .col-md-8
      %h1{style: "color: #636363; font-weight: bold"} Editando Usuário
      %br/
      %main
        = form_for([current_user.empresa, @user], url: empresa_usuario_save_permissions_path, method: "POST", html: {id: "edit_permissoes_usuario"} ) do |f|
          .col.md-12
            #error_explanation{style: "display:none;"}
              %h2#erros_count
              #messages
          %fieldset
            %legend
              %em Dados do Usuário
            .container-fluid
              .row
                =f.hidden_field :empresa_id, value: @user.empresa_id
                =f.hidden_field :id, value: @user.id
              .row
                .col-md-6
                  = f.label :name, required: true
                  = f.text_field :name, required: true, class: "form-control", disabled: true
              .row
                .col-md-6
                  =f.label :email, required: true
                  =f.email_field :email, placeholder: "example@email.com", class: "form-control", required: true, disabled: true
          %br/
          #edit_permissoes_usuario
            .panel.panel.default
              / =console
              =content_tag(:div, @user.environment.environment_models.last.model_id, id: "empresa_permissoes_count", style: "display: none")
              .panel-heading
                %h3
                  %em=t('painel.helpers.models.permissoes')
                %hr{style: "border: #C5B1FF 1px dashed"}
              .panel-body
                %table.table
                  %thead
                    %th Nome
                    %th Cadastrar
                    %th Atualizar
                    %th Vizualizar
                    / %th Deletar
                  %tbody
                    =render 'permissions_check_boxes', {z: f}
          %br
          .form-actions
            %hr{style: "border: #C5B1FF 1px dashed"}
            .pull-left
              = f.button "Salvar", class: "btn btn-primary"
            .pull-right
              = link_to t('painel.helpers.actions.back'), root_path, class: "btn btn-danger"
%br/
%br/