=build_form_toolbar(".edit_gclinic_user", @user, empresa_contas_path(current_user.empresa), nil)
.container-fluid
  %h4
    Alterarando Dados de - 
    %em
      %b{style: "text-decoration: underline"}=@user.name.capitalize
.col-md-6
  .jumbotron
    .container
      = simple_form_for([current_user.empresa, @user], method: "PUT", url: change_data_empresa_usuario_path) do |f|
        .row-fluid
          .field
            = f.input :name, required: true
        .row-fluid
          .field
            = f.input :email, required: true
        .row-fluid
          .field
            = f.input :password
        .row-fluid
          .field
            = f.input :password_confirmation, label: "Confirme sua senha"