=build_toolbar
.container
  .row-fluid
    %h4
      %span.text-info
        %i.fa.fa-question-circle-o
        =link_to "Precisa de Ajuda", "#"
    %br/
  .row
    .col-md-3
      =render "/pages/fast_access"
    .col-md-8
      %h1{style: "color: #636363; font-weight: bold"} Novo Usuário
      %br/
      %main
        = form_for([@empresa, @usuario], url: empresa_usuarios_path, controller: "painel/usuarios/manager", action: "create", method: "POST") do |f|
          %fieldset
            %legend
              %em Dados do Usuário
            .container-fluid
              .row
                =f.hidden_field :empresa_id, value: current_user.empresa_id
              .row
                .col-md-6
                  = f.label "Administrador", for: "painel_usuario_admin_"
                  =f.check_box :admin
              %br/
              .row
                .col-md-6
                  = f.label :name, required: true
                  = f.text_field :name, required: true, class: "form-control"
                .col-md-6
                  =f.label :email, required: true
                  =f.email_field :email, placeholder: "example@email.com", class: "form-control", required: true
              .row
                .col-md-6
                  =f.label :password, "Senha"
                  =f.password_field :password, required: true, class: "form-control"
                .col-md-6
                  =f.label :password_confirmation, "Confirmação de Senha"
                  =f.password_field :password_confirmation, required: true, class: "form-control"
          %br/

          #permissoes_empresa
            .panel.panel.default
              =content_tag(:div, @environment.environment_models.count, id: "empresa_permissoes_count", style: "display: none")
              .panel-heading
                %h3
                  %em=t('painel.helpers.models.permissoes')
                %hr{style: "border: #C5B1FF 1px dashed"}
              .panel-body
                %table.table
                  %thead
                    %th Nome
                    %th Cadastrar
                    %th Atualizar
                    %th Vizualizar
                  %tbody
                    =render 'permissions_check_boxes', {z: f}
          %br
          .form-actions
            %hr{style: "border: #C5B1FF 1px dashed"}
            .pull-left
              = f.button "Salvar", class: "btn btn-primary"
            .pull-right
              = link_to t('painel.helpers.actions.back'), root_path, class: "btn btn-danger"