= form_for([current_user.empresa, @receituario], url: empresa_receituarios_path) do |form|
  .field
    = form.label :nome
    = form.text_field :nome, class: "form-control"
  %br
  .field
    = form.label :receita
    = form.text_area :receita, id: :receiturario_receita, class: "wysiwyg_editor"
    =label_or_error_tag @receituario, :receita, "Receita"
