= simple_form_for([current_user.empresa, @receituario], url: empresa_receituarios_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    %hr/
    =label_or_error_tag @receituario, :receita, "Receita"
    = f.text_area :receita, :class => "tinymce", :rows => 15, :cols => 120
    = tinymce
