<%= form_for(@environment, url: painel_environments_path) do |f| %>
  <% if @environment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@environment.errors.count, "error") %> prohibited this environment from being saved:</h2>

      <ul>
      <% @environment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col-md-6">
      <%= f.label :name, "Nome" %><br>
      <%= f.text_field :name, class: "form-control" %>
      <em>(Nome do ambiente - Exemplo: Drº Charles)</em>
    </div>

    <div class="field col-md-6">
      <%= f.label :database_name, "Nome do Banco de Dados" %><br>
      <%= f.text_field :database_name, class: "form-control" %>
      <em>(Nome da base de dados para conexão)</em>
    </div>
  </div>

  <br>
  <h1>Usuário</h1>
  <hr style="border: #AFAFAF 1px solid">
  <%=f.fields_for :users do |builder| %>
    <%= render 'users', {f: builder} %>
  <%- end -%>

  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-default btn-lg" %>
    <%= link_to 'Cancelar', painel_environments_path, class: "btn btn-danger btn-lg" %>
  </div>
<% end %>
