.container
  .col-xs-12.col-sm-12.col-md-12.col-lg-12{style: 'margin: 0; padding: 0;'}
    .row
      .col-xs-4.col-sm-4.col-md-4.col-lg-4
        = f.input :nome
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        = f.input :cpf, input_html: {class: "cpf_maskara" }
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        = f.input :rg, input_html: {class: "rg_maskara" }
      .col-xs-4.col-sm-4.col-md-4.col-lg-4
        = f.input :data_nascimento, as: :date, start_year: Date.today.year - 116, end_year: Date.today.year, discard_day: false, order: [:day, :month, :year]
    .row
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        = f.input :telefone, input_html: {class: "telefone_maskara" }
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        = f.input :celular, input_html: {class: "celular_maskara" }
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        =f.label "Operadora"
        =f.collection_select(:operadora_id, @operadoras, :id, :nome, {include_blank: false}, {:class=>'form-control'})
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        =f.label "Conselho regional"
        =f.collection_select(:conselho_regional_id, @conselhos_regionais, :id, :sigla, {include_blank: false}, {:class=>'form-control'})
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        = f.input :imagem, as: :file, label: "Foto"