=build_form_toolbar(new_profissional_path, nil, @profissional, profissionais_path, nil)
%div{class: "container-fluid"}
  %div{class: "row-fluid"}
    %h1  Profissionais
    %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row", style: "margin: 0;"}
      %div{class: "jumbotron"}
        %div{class: "row", style: "margin: 0;"}
          %div{class: "col-md-12 col-sm-12 col-xs-12 col-lg-12"}
            =form_tag profissionais_path, :method => 'get' do
              %row
                %div{class: "col-lg-2"}
                  %label
                    Status
                  = select(:status, :status, [['Ativo',1],['Inativo',0]], {:include_blank => ''}, :class => "form-control")
                %div{class: "col-lg-2"}
                  %label
                    Cargo
                  = select(:cargo, :id, Cargo.where(empresa_id: current_usuario.empresa_id).collect {|p| [p.nome, p.id] }, {:include_blank => ''}, :class => "form-control") 
                %div{class: "col-lg-3"}
                  %label
                    Pesquisar
                  = text_field_tag :nome, '', placeholder: "Pesquisar profissional por sigla", class: "form-control"
                %br
                = submit_tag "Pesquisar", :name => nil, class: "btn btn-primary"
                = link_to "Recarregar", profissionais_path, class: "btn btn-default"
                %br
                %br
    %div{class: "row", style: "margin: 0;"}
      %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
        %thead
          %th=t(:status, scope: [:bootstrap, :helpers, :labels])
          %th=t(:código, scope: [:bootstrap, :helpers, :labels])
          %th=t(:name, scope: [:bootstrap, :helpers, :labels])
          %th=t(:office, scope: [:bootstrap, :helpers, :labels])
          %th{class: "pull-right"}=t(:show, scope: [:bootstrap, :helpers, :links])
        %tbody
          - @profissionais.each do |profissional|
            %tr
              %td=status(profissional.status)
              %td=profissional.id
              %td=profissional.nome
              %td=profissional.cargo.nome
              %td{class: "pull-right"}
                = link_to_visualizar profissional
    %div{class: "row", style: "margin: 0;"}
      %div{class: "pull-right"}
        =paginate @profissionais
  %hr{style: "border: #323232 solid 0.5px;"}
