=build_form_toolbar(new_empresa_servico_path(current_usuario.empresa_id),nil, @servicos, empresa_servicos_path(current_usuario.empresa_id), nil)
%div{class: "container"}
  %div{class: "row"}
    %h1 Serviços
    %hr{style: "border: #323232 solid 0.5px;"}
    %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
      %thead
        %th Código
        %th Tipo
        %th Abreviatura
        %th
      %tbody#servicos_content
        - @servicos.each do |servico|
          %tr{id: "servico_tr_id_#{servico.id}"}
            %td{width: "8%"}= "##{servico.id}"
            %td= servico.tipo
            %td= servico.abreviatura
            %td
              .btn-group.pull-right
                = link_to 'Editar', edit_empresa_servico_path(servico.empresa, servico)
                = link_to 'Excluir', empresa_servico_path(servico.empresa, servico), :method => :delete, :data => { :confirm => 'Tem Certeza?' }
  %div{class: "row"}
    %hr{style: "border: #323232 solid 0.5px;"}
