= search_form_for [@empresa, @search], url: search_painel_empresa_agendas_path do |f|
  .container-fluid
    .well
      .container-fluid
        .row-fluid
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row-fluid
              .col-lg-4.col-md-4
                #search_paciente_field
                  = f.label :agenda_movimentacao_nome_paciente_cont, "Nome do Paciente"
                  %br/
                  = f.text_field :agenda_movimentacao_nome_paciente_cont, placeholder: "Nome do Paciente"
              .col-md-5
                = f.label :data_cont, "Data"
                %br/
                .form-group.date.optional
                  .form-inline
                    =f.date_select :data_cont, use_month_numbers: true, default: Date.today
            %br
            .row
              .col-md-8
                = button_tag(type: "submit", class: "btn btn-default") do
                  %b Pesquisar
                  %i.fa.fa-filter
                = link_to(painel_empresa_agendas_path(current_usuario.empresa), class: "btn btn-danger") do
                  %b Recarregar
                  %i.fa.fa-refresh
            .clearfix
