%div{class: "row", style: "margin: 0;"}
  %div{class: "jumbotron"}
    %div{class: "row", style: "margin: 0;"}
      %div{class: "col-md-12 col-sm-12 col-xs-12 col-lg-12"}
        =form_tag empresa_profissionais_path(current_user.empresa), :method => 'get' do
          %row
            %div{class: "col-lg-2"}
              %label
                Status
              = select(:status, :status, [['Ativo',1],['Inativo',0]], {:include_blank => ''}, :class => "form-control")
            %div{class: "col-lg-2"}
              %label
                Cargo
              = select(:cargo, :id, current_user.empresa.cargos.collect {|p| [p.nome, p.id] }, {:include_blank => ''}, :class => "form-control")
            %div{class: "col-lg-3"}
              %label
                Pesquisar
              = text_field_tag :nome, '', placeholder: "Pesquisar profissional por sigla", class: "form-control"
            %br
            = submit_tag "Pesquisar", :name => nil, class: "btn btn-primary"
            = link_to "Recarregar", empresa_profissionais_path(current_user.empresa), class: "btn btn-default"
            %br
            %br
