.row{style: "margin-left: 2%;"}
  .col-xs-12.col-sm-3.col-md-2.col-lg-2
    = u.label :cadastrar
  .col-xs-12.col-sm-2.col-md-2.col-lg-2{style: "margin-left: 25%;"}
    = u.check_box :cadastrar
.row{style: "margin-left: 2%;"}
  .col-xs-12.col-sm-3.col-md-2.col-lg-2
    = u.label :editar
  .col-xs-12.col-sm-2.col-md-2.col-lg-2{style: "margin-left: 25%;"}
    = u.check_box :editar
.row{style: "margin-left: 2%;"}
  .col-xs-12.col-sm-3.col-md-2.col-lg-2
    = u.label :visualizar
  .col-xs-12.col-sm-2.col-md-2.col-lg-2{style: "margin-left: 25%;"}
    = u.check_box :visualizar
.row{style: "margin-left: 2%;"}
  .col-xs-12.col-sm-3.col-md-2.col-lg-2
    = u.label :excluir
  .col-xs-12.col-sm-2.col-md-2.col-lg-2{style: "margin-left: 25%;"}
    = u.check_box :excluir
