=build_form_toolbar(new_empresa_convenio_path(current_user.empresa), nil, empresa_convenios_path(current_user.empresa), nil)
/ =build_form_toolbar(".new_convenio", @convenio, empresa_convenios_path(current_user.empresa), nil)
%div{class: "container"}
  %div{class: "row"}
    %h1 Convênios
    %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row", style: "margin: 0;"}
      %div{class: "well"}
        %div{class: "row", style: "margin: 0;"}
          %div{class: "col-md-12 col-sm-12 col-xs-12 col-lg-12"}
            = search_form_for @search, url: empresa_convenios_path(current_user.empresa) do |f|
              = f.condition_fields do |c|
                = render "condition_fields", f: c
              = link_to_add_fields "Adicionar Condições", f, :condition
              %div{class: "actions", style: "margin-top: 2%;"}
                = f.submit "Pesquisar", class: "btn btn-primary"
                = link_to "Recarregar", empresa_convenios_path(current_user.empresa), class: "btn btn-default"
      %div{class: "row", style: "margin: 0;"}
        %table{class: "table table-striped table-bordered"}
          %thead
            %th=t(:status, scope: [:bootstrap, :helpers, :labels])
            %th=t(:código, scope: [:bootstrap, :helpers, :labels])
            %th=t(:nome, scope: [:bootstrap, :helpers, :labels])
            %th=t(:value, scope: [:bootstrap, :helpers, :labels])
          %tbody
            - @convenios.each do |convenio|
              %tr
                %td=status(convenio.status)
                %td=convenio.id
                %td=convenio.nome
                %td=convenio.valor
      %div{class: "row", style: "margin: 0;"}
        %div{class: "pull-right"}
          =paginate @convenios

  %div{class: "row"}
    %hr{style: "border: #323232 solid 0.5px;"}
