%div{class: "header"}
%nav.navbar.navbar-full.navbar-fixed-top.navbar-light.bg-faded.navbar-custom
  .navbar-header.fixed-brand
    -if usuario_signed_in?
      =link_to root_path, class: "navbar-brand brand-logo" do
        =current_usuario.empresa_nome
      #menu-toggle.navbar-toggle.collapsed{"data-toggle" => "collapse"}
        %i.fa.fa-bars.fa-2x{"aria-hidden" => "true"}
  #bs-megadropdown-tabs.collapse.navbar-collapse
    %ul{class: "nav navbar-nav", style: "padding-left: 15px;"}
      %li.active= link_to "#{image_tag("icons/glyphicons-222-unshare-white.png", width: 22, height: 22)} AGENDAS DO DIA #{date_to_format(@agenda.data)}".html_safe, uri_path
      %li= link_to "#{image_tag("icons/glyphicons-389-exit-white.png", width: 22, height: 22)} SAIR".html_safe, root_path
    -if usuario_signed_in?
      %div{style: "padding-right: 80px;"}
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              =current_usuario.nome
              %span.caret
            %ul.dropdown-menu
              =render 'application/usuario_logado'