= simple_form_for([current_user.empresa, @feriado_e_data_comemorativa]) do |f|
  = f.error_notification
  .panel
    .container
      %br
      .row
        .col-md-3
          = f.input :descricao
      .row
        .col-md-3
          = f.input :data
          #calendarDHTMLX
      .row
        .col-md-3
          .form-actions
            = f.button :submit
      %br
