=build_form_toolbar(new_fornecedor_path, nil, @profissional, fornecedores_path, nil)
%div{class: "container-fluid"}
  %div{class: "row-fluid"}
    %h1  Fornecedores
    %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row", style: "margin: 0;"}
      %div{class: "jumbotron"}
        %div{class: "row", style: "margin: 0;"}
          %div{class: "col-md-12 col-sm-12 col-xs-12 col-lg-12"}
            = search_form_for @search do |f|
              = f.condition_fields do |c|
                = render "condition_fields", f: c
              = link_to_add_fields "Adicionar Condições", f, :condition
              %div{class: "actions", style: "margin-top: 2%;"}
                = f.submit "Pesquisar", class: "btn btn-primary"
                = link_to "Recarregar", fornecedores_path, class: "btn btn-default"
    %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
      %thead
        %th=t(:status, scope: [:bootstrap, :helpers, :labels])
        %th=t(:código, scope: [:bootstrap, :helpers, :labels])
        %th=t(:nome, scope: [:bootstrap, :labels])
        %th=t(:email, scope: [:bootstrap, :helpers, :labels])
        %th=t(:celular, scope: [:bootstrap, :helpers, :labels])
        %th{class: "pull-right"}=t(:show, scope: [:bootstrap, :helpers, :links])
      %tbody
        - @fornecedores.each do |fornecedor|
          %tr
            %td= status(fornecedor.status)
            %td= fornecedor.id
            %td= fornecedor.nome
            %td= fornecedor.email
            %td= fornecedor.celular
            %td{class: "pull-right"}
              = link_to_visualizar fornecedor
  %hr{style: "border: #323232 solid 0.5px;"}
