- validade = date_to_format(@cliente.validade_carteira) if @cliente.validade_carteira.present?
%div{id:"convenio", class:"tab-pane fade"}
  =render 'clientes/partials/cliente_legend' if @cliente.id?
  %hr/
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.label :status_convenio
      %br/
      = f.collection_radio_buttons :status_convenio, [[true, 'Ativo'] ,[false, 'Inativo']], :first, :last, :checked => [true, 'Ativo']
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :matricula
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      =f.label "Convênio"
      =f.collection_select(:convenio_id, Convenio.order(:nome).where(empresa_id: current_user.empresa_id), :id, :nome, {include_blank: "Selecione"}, {:class=>'form-control'})
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :validade_carteira, as: :string, input_html: {class: "datepicker_form", value: "#{validade}" }
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :produto
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :titular
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :plano