%div{id:"contato", class:"tab-pane fade"}
  %div{class: "row"}
    - if @cliente.id?
      =render 'clientes/partials/cliente_legend'
      %hr
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :foto, as: :file, label: "Foto"
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :email
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :telefone,  input_html: {class: "telefone_maskara" }
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :endereco
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :complemento
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :bairro
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      =f.label "Estado"
      =f.collection_select(:estado_id, @estados, :id, :nome, {include_blank: "Selecione"}, {:class=>'form-control'})
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      =f.label "Cidade"
      = f.grouped_collection_select(:cidade_id, @estados, :cidades, :nome, :id, :nome, {include_blank: "Selecione"}, { :class=> "collection_select" })
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      =f.label "Profissão"
      =f.collection_select(:cargo_id, Cargo.order(:nome), :id, :nome, {include_blank: "Selecione"}, {:class=>'form-control'})
