- nascimento = date_to_format(@cliente.nascimento) if @cliente.nascimento.present?
- sexo  = @cliente.sexo if @cliente.sexo.present?
- estado_civil  = @cliente.estado_civil if @cliente.estado_civil.present?
%div{id:"dados", class:"tab-pane fade in active"}
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :id, as: :hidden
      = f.input :nome
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :nascimento, as: :string, input_html: {class: "datepicker_form", value: "#{nascimento}"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      %label{class: "string required control-label"}
        Idade
      %input{:type=>"text", :class => "form-control", :id => "cliente_idade"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      =f.label :sexo
      %br/
      = f.collection_radio_buttons :sexo, [['M', 'Masculino'] ,['F', 'Feminino']], :first, :last
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.label :estado_civil
      %br/
      = f.select :estado_civil, options_for_select([ "CASADO", "DIVORCIADO", "SOLTEIRO" ], estado_civil.to_s), {} ,{:class => "form-control"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :cpf,  input_html: {class: "cpf_maskara" }
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :rg,  input_html: {class: "rg_maskara" }
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      =f.label "Nacionalidade"
      =f.localized_country_select(:nacionalidade, [], {include_blank: "Selecione"}, {:class => "form-control"})
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3", id: "naturalidade_cliente", style: "display: none;"}
      =f.label "Naturalidade"
      =f.collection_select(:naturalidade, Estado.pelo_nome, :id, :nome, {include_blank: "Selecione"}, {:class=>'form-control'})