- if @historicos.present?
  #tool_bar{style: "margin-bottom: 10px;"}
    - if @historicos.first.created_at > 24.hours.ago && @historicos.first.usuario_id == current_usuario.id
      = link_to "Incluir", "#", class: "btn btn-success", id: "editar_historico", data: {historico_id: @historicos.first.id}
    - else
      = link_to "Incluir", "#", class: "btn btn-success", id: "incluir_historico"
    =link_to "Imprimir Tudo", "#", class: "btn btn-default"
    =link_to "Imprimir historico", print_historico_cliente_path(@cliente, format: "pdf"), class: "btn btn-default"
  %hr/
  #well_historicos.well.historico
    - @historicos.each do |historico|
      = data_e_hora_formatada(historico.created_at.to_date, historico.created_at.to_time)
      %br
      = historico.usuario.nome
      %br
      = historico.idade
      %br
      %br
      = raw historico.indice
      %br
      %br
- else
  = link_to "Incluir", "#", class: "btn btn-success", style: "margin-bottom: 10px;", id: "incluir_historico"