#receituario.tab-pane.fade
  .container-fluid
    .row-fluid
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        =render 'clientes/partials/cliente_legend' if @cliente.id?
  .container-fluid
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .row
        .col-sm-5.col-md-4
          = link_to "Incluir Novo", "#", class: "btn btn-success", id: "include_new_recipe"
          = link_to "Salvar Receiturário", "#", class: "btn btn-success", id: "save_new_recipe"
          = link_to "Cancelar Inclusão", "#", class: "btn btn-warning", id: "cancel_recipe"
          = link_to "Alterar", "#", class: "btn btn-info", id: "change_recipe" if !@cliente.cliente_receituarios.empty?
          -# = link_to "Excluir", "#", class: "btn btn-danger", id: "destroy_recipe" if !@cliente.cliente_receituarios.empty?
          #print_receituario{style: "display: inline;"}
            = link_to "Imprimir", print_recipe_empresa_cliente_path(current_user.empresa, @cliente, receituario_id: @cliente_receituario.id, format: 'pdf'), target: :_blank, class: "btn btn-default" if !@cliente.cliente_receituarios.empty?
        .col-sm-6.col-md-6.pull-right
          - if !@cliente.cliente_receituarios.empty?
            #recipe_manual_pagination
              =render 'recipe_pagination', { cliente_receituario: @cliente_receituario }
  #include_recipe_container{style: "display: none;"}
    .container
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row-fluid
          %h4 Receitas
        .row-fluid
          .col-sm-4.col-md-3
            = f.collection_select :receituario, Receituario.all.order(nome: "ASC"), :id, :nome, {include_blank: "Selecione"}, {class: "form-control selectpicker", :"data-live-search"=>"true"}
          .col-sm-2.col-md-1
            #add_recipe.btn.btn-primary{title: "Adicionar Receita"}
              %i.fa.fa-plus-circle
        .row-fluid
          .col-xs-12.col-sm-11.col-md-8.col-lg-8{style: "margin-top: 1%"}
            =cktext_area :receituario_content, :info, cols: 40, ckeditor: { height: 400 }, id: "receituario_content_textarea"
  %br/
  %br/
  #recipes_container
    .container-fluid
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .panel.panel-default
          .panel-heading
            %b Receituário
          .panel-body
            #recipe_content
              =render 'clientes/partials/cliente_receituarios'
        .clearfix

=javascript_include_tag Ckeditor.asset_path
