#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFastAccess"}
          %span
            %i.fa.fa-2x.fa-archive
          Acesso Rápido
    #collapseFastAccess.panel-collapse.collapse.in
      .panel-body
        %table.table
          - if can? :read, Cliente
            %tr
              %td
                %span
                  %i.fa.fa-2x.fa-heartbeat
                = link_to "Clientes", new_cliente_path, title: "Acesso Rápido à Cliente"
          - if can? :read, Profissional
            %tr
              %td
                %span
                  %i.fa.fa-2x.fa-user-md
                = link_to "Profissionais", new_profissional_path , title: "Acesso Rápido à Profissionais"
          - if can? :read, Convenio
            %tr
              %td
                %span
                  %i.fa.fa-2x.fa-contao
                = link_to "Convênios", new_convenio_path, title: "Acesso Rápido à Convênio"
            %tr
              %td
                %span
                  %i.mdi.mdi-clipboard-text.fa-2x
                = link_to "Referências Agenda", new_referencia_agendas_path, title: "Acesso Rápido às Referências de Agenda"
            %tr
              %td
                %span
                  %i.fa.fa-2x.fa-calendar
                = link_to "Agenda", new_painel_empresa_agenda_path(current_usuario.empresa), title: "Acesso Rápido à Agenda"
  -if usuario_signed_in? && current_usuario.admin?
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseAdminAccess"}
            %span
              %i.fa.fa-2x.fa-tachometer
            Acesso Administrativo
      #collapseAdminAccess.panel-collapse.collapse
        .panel-body
          %table.table
            %tr
              %td
                =link_to painel_empresa_contas_path(current_usuario.empresa) do
                  %span
                    %i.fa.fa-2x.fa-users
                  Contas
            %tr
              %td
                =link_to "#", :"data-toggle"=> "modal", :"data-target"=>"#empresa_permissoes_modal" do
                  %span.text-info
                    %i.fa.fa-2x.fa-cogs
                    Permissões
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseProfile"}
          %span
            %i.fa.fa-2x.fa-user
          Perfil
    #collapseProfile.panel-collapse.collapse
      .panel-body
        %table.table
          %tr
            %td
              #usuario_password
              =link_to painel_change_user_password_path(current_usuario), remote: true, title: " Alterar Senha" do
                %span.text-info
                  %i.fa.fa-2x.fa-key
                  Alterar Senha
          %tr
            %td
              %span.text-info
                %i.fa.fa-2x.fa-pencil-square-o
                %a{:href => "http://www.jquery2dotnet.com"} Alterar Dados
          %tr
            %td
              = link_to destroy_usuario_session_path, method: 'delete', title: "SAIR" do
                %span.text-danger
                  %i.fa.fa-2x.fa-sign-out
                  Sair/Deslogar
//MODAL COM TODAS AS PERMISSOES DA EMPRESA DO USUARIO ATUAL
#empresa_permissoes_modal.modal.fade{ :"aria-hidden"=> "true", :"aria-labelledby"=> "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ :"aria-label" =>"Close", :"data-dismiss"=>"modal", type: "button"}
          %span{:"aria-hidden"=>"true"} ×
        %h4#myModalLabel.modal-title
          %center="Permissoes da Empresa #{current_usuario.empresa.nome}"
      .modal-body
        %fieldset{style: "border: #BBC0C3 1px solid;"}
          %br/
          %ol
            .container-fluid
              .col-md-12
                -current_usuario.empresa.empresa_permissoes.select(:permissao_id).each do |f|
                  .col-md-4
                    %li{style: "color: #524EFF;"}=f.permissao.nome
                    %hr{style: "border: #C7C4FF 0.5px dashed; margin-top: -2px"}
      .modal-footer
        %button#permissao_formclose.btn.btn-default{:"data-dismiss"=> "modal", type: "button"} Fechar