#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFastAccess"}
          %span
            %i.fa.fa-2x.fa-archive
          Acesso Rápido
    #collapseFastAccess.panel-collapse.collapse.in
      .panel-body
        %table.table
          - if can? :read, Cliente
            %tr
              %td
                %span
                  %i.fa.fa-2x.fa-address-book
                = link_to "Clientes", new_empresa_clientes_registro_path(current_user.empresa), title: "Acesso Rápido à Cliente"
          - if can? :read, Profissional
            %tr
              %td
                %span
                  %i.fa.fa-2x.fa-user-md
                = link_to "Profissionais", new_empresa_profissional_path(current_user.empresa) , title: "Acesso Rápido à Profissionais"
          - if can? :read, Convenio
            %tr
              %td
                %span
                  %i.fa.fa-2x.fa-contao
                = link_to "Convênios", new_empresa_convenio_path(current_user.empresa), title: "Acesso Rápido à Convênio"
            %tr
              %td
                %span
                  %i.mdi.mdi-clipboard-text.fa-2x
                = link_to "Referências Agenda", new_empresa_referencia_agenda_path(current_user.empresa), title: "Acesso Rápido às Referências de Agenda"
          -if (can? :read, Agenda) || (can? :create, Agenda)
            %tr
              %td
                %span
                  %i.fa.fa-2x.fa-calendar
                = link_to "Agenda", empresa_agendas_path(current_user.empresa), title: "Acesso Rápido à Agenda"
  -if user_signed_in? && current_user.admin?
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseAdminAccess"}
            %span
              %i.fa.fa-2x.fa-tachometer
            Acesso Administrativo
      #collapseAdminAccess.panel-collapse.collapse
        .panel-body
          %table.table
            %tr
              %td
                =link_to empresa_contas_path(current_user.empresa) do
                  %span
                    %i.fa.fa-2x.fa-users
                  Contas
            %tr
              %td
                =link_to "#", :"data-toggle"=> "modal", :"data-target"=>"#empresa_permissoes_modal" do
                  %span.text-info
                    %i.fa.fa-2x.fa-cogs
                    Permissões
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseProfile"}
          %span
            %i.fa.fa-2x.fa-user
          Perfil
    #collapseProfile.panel-collapse.collapse
      .panel-body
        %table.table
          %tr
            %td
              #usuario_password
              =link_to edit_empresa_conta_path(current_user.empresa, current_user), title: " Alterar Senha" do
                %span.text-info
                  %i.fa.fa-2x.fa-key
                  Alterar Senha
          %tr
            %td
              = link_to destroy_user_session_path, method: 'delete', title: "SAIR" do
                %span.text-danger
                  %i.fa.fa-2x.fa-sign-out
                  Sair/Deslogar
//MODAL COM TODAS AS PERMISSOES DA EMPRESA DO USUARIO ATUAL
#empresa_permissoes_modal.modal.fade{ :"aria-hidden"=> "true", :"aria-labelledby"=> "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ :"aria-label" =>"Close", :"data-dismiss"=>"modal", type: "button"}
          %span{:"aria-hidden"=>"true"} ×
        %h4#myModalLabel.modal-title
          %center="Permissoes da Empresa #{current_user.environment.name}"
      .modal-body
        %fieldset{style: "border: #BBC0C3 1px solid;"}
          %br/
          %ol
            .container-fluid
              .col-md-12
                -current_user.environment.environment_models.select(:model_id).each do |f|
                  .col-md-4
                    %li{style: "color: #524EFF;"}=f.model.name
                    %hr{style: "border: #C7C4FF 0.5px dashed; margin-top: -2px"}
      .modal-footer
        %button#permissao_formclose.btn.btn-default{:"data-dismiss"=> "modal", type: "button"} Fechar