%div{class: "col-md-6"}
  %section{id: "btns_acesso_rapido"}
    %div{class: "panel panel-default"}
      %div{class: "panel-body"}
        %div{class: "container", style: "padding-left: 3.6%;"}
          %div{class: "row"}
            %div{class: "col-xs-4 col-sm-11 col-md-10"}
              = link_to "#{image_tag("icons/glyphicons-4-user.png", width: 25, height: 25)} Paciente".html_safe, new_cliente_path, title: "Acesso Rápido à Paciente", class: 'btn btn-default', style: "width: 150px;"
              = link_to "#{image_tag("icons/glyphicons-44-group.png", width: 35, height: 25)} Profissional".html_safe, new_profissional_path , title: "Acesso Rápido à Profissionais", class: 'btn btn-default', style: "width: 150px;"
              = link_to "#{image_tag("icons/glyphicons-100-C.png", width: 25, height: 25)} Convênio".html_safe, new_convenio_path, title: "Acesso Rápido à Convênio", class: 'btn btn-default', style: "width: 150px;"
              = link_to "#{image_tag("icons/glyphicons-46-calendar.png", width: 25, height: 25)} Agenda".html_safe, "#", title: "Acesso Rápido à Agenda", class: 'btn btn-default', style: "width: 150px;"
