.panel.panel-default
  .panel-body
    =simple_form_for [current_user.empresa, @agenda] do |f|
      - if @agenda.errors.any?
        .row-fluid
          .col-xs-12.col-sm-12.col-md-12
            %div{class: "alert", style: "color: #B11515;"}
              %h4="#{pluralize(@agenda.errors.count, "erro")} impede(m) este agenda de ser salvo:"
      .row-fluid
        .container-fluid{style: "margin: 0 auto; padding-top: 15px; padding-bottom: 15px;"}
          .hidden_fields_agenda
            =f.input :empresa_id, as: :hidden, input_html: { value: current_user.empresa.id }
            =f.input :usuario_id, as: :hidden, input_html: { value: current_user.id }
          .row
            .col-sm-4.col-md-3
              =f.label :referencia_agenda_id, "Referência"
              =f.collection_select :referencia_agenda_id, ReferenciaAgenda.where(empresa: current_user.empresa), :id, :descricao_completa, { prompt: "Selecione um" }, class: "form-control selectpicker", :"data-live-search"=>"true"
            .col-sm-4.col-md-3
              =f.input :data_inicial, as: :string, input_html: { class: "datepicker" }
            .col-sm-4.col-md-3
              =f.input :data_final, as: :string, input_html: { class: "datepicker" }
          .row
            .col-md-3
              #atendimento_sabado
                =f.label t('agendas.helpers.atendimento_sabado')
                %br/
                =f.collection_radio_buttons :atendimento_sabado, [[1, 'Sim'] ,[0, 'Não']], :first, :last, checked: 0
            .col-md-4
              #atendimento_domingo
                =f.label t('agendas.helpers.atendimento_domingo')
                %br/
                =f.collection_radio_buttons :atendimento_domingo, [[1, 'Sim'] ,[0, 'Não']], :first, :last, checked: 0
      .row-fluid
        .col-md-6
          .panel.panel-default
            .panel-heading.center.bolder Turno da Manhã
            .panel-body
              .row-fluid
                #atendimento_manha
                  .container-fluid
                    .col-md-4
                      =f.input :atendimento_turno_a_duracao, label: "Minutos",pattern: "[0-9]+$"
                  %hr{style: "border: #A2A2A2 0.5px dashed"}
              .row-fluid
                .panel
                  -indice_manha = 0
                  -while indice_manha <= 6
                    =content_tag(:div, id: "manha_dia_#{indice_manha}") do
                      .row{style: "margin: 0 auto"}
                        .col-xs-12.col-md-12
                          =content_tag(:label, "" ,id: "dia_#{indice_manha}")
                      .row{style: "margin: 0 auto"}
                        .col-xs-6.col-md-6
                          =f.label "Inicio"
                          =f.time_field :atendimento_manha_inicio, class: "form-control", id: "agenda_atendimento_manha_inicio_#{indice_manha}_attribute"
                        .col-xs-6.col-md-6
                          =f.label "Termino"
                          =f.time_field :atendimento_manha_final, class: "form-control", id: "agenda_atendimento_manha_final_#{indice_manha}_attribute"
                    -indice_manha += 1
                    %br/
      .row-fluid
        .col-md-6
          .panel.panel-default
            .panel-heading.center.bolder Turno da Tarde
            .panel-body
              .row-fluid
                #atendimento_tarde
                  .container-fluid
                    .col-md-4
                      =f.input :atendimento_turno_b_duracao, label: "Minutos"
                  %hr{style: "border: #A2A2A2 0.5px dashed"}
              .row-fluid
                .panel
                  -indice_tarde = 0
                  -while indice_tarde <= 6
                    =content_tag(:div, id: "tarde_dia_#{indice_tarde}") do
                      .row{style: "margin: 0 auto"}
                        .col-xs-12.col-md-12
                          =content_tag(:label, "" ,id: "tarde_#{indice_tarde}")
                      .row{style: "margin: 0 auto"}
                        .col-xs-6.col-md-6
                          =f.label "Inicio"
                          =f.time_field :atendimento_tarde_inicio, class: "form-control", id: "agenda_atendimento_tarde_inicio_#{indice_tarde}_attribute"
                        .col-xs-6.col-md-6
                          =f.label "Termino"
                          =f.time_field :atendimento_tarde_final, class: "form-control", id: "agenda_atendimento_tarde_final_#{indice_tarde}_attribute"
                    -indice_tarde += 1
                    %br/
      .row-fluid
        .col-md-12
          %hr
          =render 'agendas/componentes/progress_bar'
      .row-fluid
        .pull-right
          =f.submit "Gerar Agenda", class: "btn btn-success btn-form-agenda"
    %br/
    %br/
=render 'error_messages'

