=render 'application/navbar'
.container{:style => "padding: 0px;"}
  .row
    .col-md-4.col-md-offset-4
      .login-panel.panel.panel-default
        .panel-heading
          %h2.panel-title.form-signin-heading Log In
        .panel-body
          %fieldset
            = form_for(resource, as: resource_name, url: session_path(resource_name),:html => { :class => "form-signin" } ) do |f|
              .form-group
                = label_tag "Nome de Usuário"
                = f.text_field :username, required: true, class: 'form-control'
              .form-group
                = label_tag :password
                = f.password_field :password, required: true, class: 'form-control'
              = f.submit "Login",  class: "btn btn-primary btn-block"
              %HR/
              = content_tag :h8 do
                %center= render "devise/shared/links"
