=build_form_toolbar(new_empresa_cabec_path(current_user.empresa), nil, @cabecs, empresa_cabecs_path(current_user.empresa), nil)
%div{class: "container-fluid"}
  %div{class: "row-fluid"}
    %h1  Cabec
    %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row", style: "margin: 0;"}
      %div{class: "jumbotron"}
        %div{class: "row", style: "margin: 0;"}
          %div{class: "col-md-12 col-sm-12 col-xs-12 col-lg-12"}
            = search_form_for @search, url: empresa_cabecs_path(current_user.empresa) do |f|
              = f.condition_fields do |c|
                = render "condition_fields", f: c
              = link_to_add_fields "Adicionar Condições", f, :condition
              %div{class: "actions", style: "margin-top: 2%;"}
                = f.submit "Pesquisar", class: "btn btn-primary"
                = link_to "Recarregar", empresa_cabecs_path(current_user.empresa), class: "btn btn-default"
    %div{class: "row", style: "margin: 0;"}
      %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
        %thead
          %th=t(:status, scope: [:bootstrap, :helpers, :labels])
          %th=t(:código, scope: [:bootstrap, :helpers, :labels])
          %th=t(:name, scope: [:bootstrap, :helpers, :labels])
          %th Texto
          %th{class: "pull-right"}=t(:show, scope: [:bootstrap, :helpers, :links])
        %tbody
          - @cabecs.each do |cabec|
            %tr
              %td= status(cabec.status)
              %td=cabec.id
              %td=cabec.nome
              %td=raw cabec.texto.truncate(50)
              %td{class: "pull-right"}
                =link_to "#{image_tag("icons/glyphicons-610-journal.png", width: 22, height: 22)}".html_safe,
                  empresa_cabec_path(current_user.empresa, cabec), title: t(:show, scope: [:bootstrap, :helpers, :links]), class: 'btn btn-default'
    %div{class: "row", style: "margin: 0;"}
      %div{class: "pull-right"}
        =paginate @cabecs
  %hr{style: "border: #323232 solid 0.5px;"}
