=build_form_toolbar(nil, ".edit_usuario", @usuario, empresa_path(@empresa), nil)
%div{class: "col-md-6 col-md-offset-3"}
  = simple_form_for [@empresa ,@usuario], url: empresa_update_usuario_password_path, method: :put do |f|
    %div{class: "row"}
      = f.error_notification
    %div{class: "row"}
      %div{class: "col-md-8"}
        %div{class: "panel panel-default"}
          %div{class: "panel-heading"}
            %b="Alterando senha do Usuário #{@usuario.nome.upcase}"
          %div{class: "panel-body"}
            %div{class: "row-fluid"}
              %div{class: "col-md-6"}
                = f.input :password, label: 'Senha'
              %div{class: "col-md-6"}
                = f.input :password_confirmation, label: 'Confirmação de senha'
