= simple_form_for([current_user.empresa, @texto_livre]) do |f|
  = f.error_notification

  .row
    .col-md-4
      = f.input :nome
    .col-md-4
      =f.label :servico_id, "Serviço"
      =f.collection_select :servico_id, current_user.empresa.servicos.all.order(tipo: :asc), :id, :to_s, { prompt: "Selecione um" }, class: "form-control selectpicker", :"data-live-search"=>"true"
  %hr/
  .row-fluid
    =label_or_error_tag @texto_livre, :content, "Texto Livre"
    = f.cktext_area :content, ckeditor: { uiColor: '#D3E7EF', toolbar: 'mini', height: 400 }
= javascript_include_tag Ckeditor.asset_path