=build_form_toolbar(new_texto_livre_path,nil, @texto_livres, texto_livres_path, nil)

.container
  .panel.panel-default
    .container-fluid
      %h1 Textos Livre

      %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
        %thead
          %tr
            %th Nome
            %th Serviço
            %th
        %tbody
          - @texto_livres.each do |texto_livre|
            %tr
              %td= texto_livre.nome
              %td= texto_livre.servico
              %td
                .btn-group.pull-right
                  = link_to 'Mostrar Texto Livre', show_texto_livre_texto_livre_path(texto_livre), remote: true
                  |
                  = link_to 'Editar', edit_texto_livre_path(texto_livre)
                  |
                  = link_to 'Excluir', texto_livre, :method => :delete, :data => { :confirm => 'Are you sure?' }
#show_texto_livre