=build_form_toolbar(new_texto_livre_path,nil, @texto_livres, texto_livres_path, nil)

.container
  .panel.panel-default
    .container-fluid
      %h1 Textos Livre
    %div{class: "row", style: "margin: 0;"}
      %div{class: "jumbotron"}
        %div{class: "row", style: "margin: 0;"}
          %div{class: "col-md-12 col-sm-12 col-xs-12 col-lg-12"}
            =form_tag texto_livres_path, :method => 'get' do
              %row
                %div{class: "col-lg-2"}
                  %label
                    Serviço
                  = select(:servico, :id, Servico.where(empresa_id: current_usuario.empresa_id).collect {|p| [p.tipo, p.id] }, {:include_blank => ''}, :class => "form-control") 
                %div{class: "col-lg-3"}
                  %label
                    Nome
                  = text_field_tag :search, '', placeholder: "Pesquisar texto livre por sigla", class: "form-control"
                %br
                = submit_tag "Pesquisar", :name => nil, class: "btn btn-primary"
                = link_to "Recarregar", texto_livres_path, class: "btn btn-default"
                %br
                %br

    %div{class: "row", style: "margin: 0;"}
      %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
        %thead
          %tr
            %th Nome
            %th Serviço
            %th
        %tbody
          - @texto_livres.each do |texto_livre|
            %tr
              %td= texto_livre.nome
              %td= texto_livre.servico
              %td
                .btn-group.pull-right
                  = link_to 'Mostrar Texto Livre', show_texto_livre_texto_livre_path(texto_livre), remote: true
                  |
                  = link_to 'Editar', edit_texto_livre_path(texto_livre)
                  |
                  = link_to 'Excluir', texto_livre, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %div{class: "row", style: "margin: 0;"}
      %div{class: "pull-right"}
        =paginate @texto_livres
#show_texto_livre