%tr{ id: "permissao_#{permissao.id}"}
  %td
    %strong=permissao.id
  %td=permissao.nome
  -if current_master
    %td=permissao.model_class
    %td
      =link_to edit_painel_permissao_path(permissao), remote: true do
        %i.fa.fa-2x.fa-pencil-square-o{ style: "color: #2D2D2D" }
    %td
      =link_to painel_permissao_excluir_path(permissao), data: { confirm: "Tem certeza?" } do
        %i.fa.fa-2x.fa-trash{ style: "color: #BC0000" }

/ Modal  update action only if master user
-if current_master
  = simple_form_for(permissao, method: :put, remote: true) do |f|
    %div{ id: "edit_permissao_#{permissao.id}", class: "modal fade", :"aria-hidden"=>"true", :"aria-labelledby"=> "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{:"aria-label"=>"Close", :"data-dismiss"=>"modal", type: "button"}
              %span{:"aria-hidden"=>"true"} ×
            %h4#myModalLabel.modal-title Permissão
          .container
            .row
              #edit_permissao_error_messages
          .modal-body
            .field
              = f.input :nome, required: true
            .field
              = f.input :model_class, required: true
          .modal-footer
            =f.button :submit, "Editar", class: 'btn btn-success'
            %button#permissao_formclose.btn.btn-default{ :"data-dismiss"=>"modal", type: "button" } Fechar