%tr{ id: "empresa_#{empresa.id}"}
  %td
    -if empresa.status
      %i.fa.fa-2x.fa-check-square{ style: "color: #007B02"}
    -else
      %i.fa.fa-2x.fa-minus-square{ style:"color: #C60600"}
  %td
    %strong=empresa.id
  %td=empresa.nome
  %td=empresa.usuarios.count
  %td=empresa.usuarios.administradores.count
  %td
    =link_to painel_empresa_path(empresa) do
      %i.fa.fa-2x.fa-newspaper-o{ style: "color: #2D2D2D"}
  %td
    =link_to edit_painel_empresa_path(empresa), remote: true do
      %i.fa.fa-2x.fa-pencil-square-o{ style: "color: #2D2D2D"}
  %td
    = link_to painel_empresa_path(empresa), method: :delete , remote: true, data: { confirm: "Excluir Empresa '#{empresa.nome}'" }
      %i.fa.fa-2x.fa-trash{ style: "color: #BC0000"}

/ Modal  update action
= simple_form_for(empresa, method: :put, remote: true) do |f|
  %div{ id: "edit_empresa_#{empresa.id}", class: "modal fade", :"aria-hidden"=> "true", :"aria-labelledby"=>"myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ :"aria-label"=>"Close", :"data-dismiss"=>"modal", type: "button"}
            %span{ :"aria-hidden"=>"true"} ×
          %h4#myModalLabel.modal-title Empresa
        .modal-body
          .field
            = f.input :nome, required: true
          .field
            #boolean_fields
              = f.input :status, required: true, as: :radio_buttons, label: "Ativada/Inativada"
        .modal-footer
          =f.button :submit, "Editar", class: 'btn btn-success'
          %button#empresa_formclose.btn.btn-default{ :"data-dismiss"=>"modal", type: "button"} Fechar